body{
/*    background-color: blue;*/
}
#box_1
{
    margin:0 auto 0 auto 
}
#box_2
{
   background-color:blue;
}
#box_3:hover
{
   background-color:yellow;
}
#box_4:hover
{
   background-color:darkgrey;
   opacity: 0.5;
   padding:20px ; 
    margin: 10px;
    border-color: antiquewhite;
    width:100px;
    height:100px;
    transition: all 1s; 
    
}
